.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px
}

.header {
    display:grid;
    grid-template-columns: 200px auto;
}

.splitgrid {
    display:grid;
    grid-template-columns: auto auto;
}

.passagier {
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}

footer {
    position:absolute;
    bottom: 0;
    height: 50px;
}


.vluchtinfo {
    display:grid;
    grid-template-columns: auto auto auto auto;
    background: orange;
}

/* passagiers pagina */
.headerpassagier {
    display:grid;
    grid-template-columns: auto auto auto;
    background:orange
}

.headerpassagier img {
    width: 100px;
    height: 100px;
    border-radius: 100px
}

.bedrijfsnaam {
    font-weight: bolder;
    font-size: 180%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.headervlucht {
    font-weight: bolder;
    font-size: 200%;
} 

.headerpassagier .headervlucht {
    padding-top: 28px;
}

.uwvlucht {
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pmarginleft{
    margin-left: 6%;
}

.phvl {
    margin-left: 6%;
    padding-top: 3%;
}

/* all around */
ul {
    list-style-type:square;
}

a {
    text-decoration: none;
}

.vluchtinfo p {
    padding-left: 20%;
}

/* medewerker pagina */

.knop {
    padding-top: 3%;
    margin-left: 6%;
}

.knoplinks {
    padding-top: 3%;
    margin-left: 6%;
}